.frame{
  background-image: url('/static/img/foto10.jpg');
  background-size: cover;      /* Make the background image cover the element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center;  /* Center the image */
  height: 500px;                /* Set a height for the div */
  width: 100%;  
}

.frame2{
  background-image: url('/static/img/rules.jpg');
  background-size: cover;      /* Make the background image cover the element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center;  /* Center the image */
  height: 300px;                /* Set a height for the div */
  width: 100%;  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap : 10px;
  padding: 5px;
  border-radius: 8px;
}

.grid-item {
  padding: 10px;
  background-color: #ffffff; /* Background color for each item */
  border-radius: 4px; /* Rounded corners for each item */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted look */
}

.grid-item:nth-child(-n+4) {
  font-weight: bold; /* Bold font for header items */
  background-color: transparent; /* Transparent background for header items */
  box-shadow: none; /* Remove shadow from header items */
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: auto;
  width: auto;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: top; /* Ensures content aligns to the top of the cell */
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

caption {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 5px;
}

/* Style for the image */
.image-cell img {
  width: 50%; /* Ensures the image fits within the cell */
  height: auto;
  border-radius: 8px; /* Optional: Adds rounded corners to the image */
  display: block; /* Ensures the image behaves like a block-level element */
}

tr .last-row{
  text-align: right;
  align-items: center;  
}


.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(6,57,112);
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }

  .inline-container {
    display: flex;
    align-items: center;
  }

  .loader {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: #0000;
    background-image: radial-gradient(circle 5px at 50% 50%,#0000 94%, #ff4747);
  }
  
  .loader:after {
    animation: pulse-ytk0dhmd 1s infinite;
    transform: perspective(336px) translateZ(0px);
  }
  
  @keyframes pulse-ytk0dhmd {
    to {
      transform: perspective(336px) translateZ(84px);
      opacity: 0;
    }
  }
    
  
  
  