.color-swatch {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  .color-name {
    vertical-align: middle;
    margin-top: 2px;
  }
  table {
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
    width: auto;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top; /* Ensures content aligns to the top of the cell */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  caption {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5px;
  }

  .frame2{
    background-image: url('/static/img/mainline.jpg');
    background-size: cover;      /* Make the background image cover the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center;  /* Center the image */
    height: 400px;                /* Set a height for the div */
    width: 100%;  
  }