<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Registration Confirmation</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/confirmation.css') }}">
</head>

<body>
    <header>
        <center>
            <h1>Thank You for Registering!</h1>
            
        </center>
    </header>

    <center>
        <p>Your registration was successful. We look forward to your participation!</p>

        <p>
            We are excited to see you at the big day!
            From C.Dot we really appreciate your participation.
            With your enrollment, the club can provide new equipment and facilities for the kids.
        </p>
        <button class="button">
             <span><a href="{{ url_for('index') }}" class="nostyle">Back to Home</a></span>
        </button>
    </center>
</body>
</html>
