<header>
    <center>
        <div>
            <img src="static/img/logo.jpg" alt="CDOT LOGO">
        </div>
        <br>
        <div class="nav">
            <a href="{{ url_for('index') }}" class="nostyle">
              <button class="value">HOME</button>
            </a>
            <a href="{{ url_for('register_page') }}" class="nostyle">
              <button class="value">REGISTER</button>
            </a>
            <a href="{{ url_for('info_page') }}" class="nostyle">
                <button class="value">INFO</button>
            </a>
            <a href="{{ url_for('clothes_page') }}" class="nostyle">
              <button class="value">KIT</button>
          </a>
          </div>
    </center>
<br>
</header>