<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>
    <header>
        <center>
            <div>
                <img src="static/img/logo.jpg" alt="CDOT LOGO">
            </div>
            <div class="nav">
                <button class="value"><a href="{{ url_for('index') }}" class="nostyle">HOME</a></button>
                <button class="value"><a href="{{ url_for('register_page') }}" class="nostyle">REGISTER</a></button>
            </div>
        </center>

    </header>
    <body>
        <center>
            <div>
                <h1>Welcome to CDOT Netball!
                </h1>
            </div>
        

        <!-- <div class="break"></div> -->

        <div class="frame">
            <p>
                THE ANNUAL CDOT NETBALL TOURNAMENT IS AROUND THE CORNER!
                <br>

                FROM THE 25TH TO THE 26TH OF OCTOBER, 
                THE CDOT NETBALL TOURNAMENT WILL BE HELD LAERSKOOL FAIRLANDS @ 16:00.

                <br>

                ALL TEAMS ARE WELCOME TO PARTICIPATE IN THIS TOURNAMENT.
                
            </p>
        </div>

        <div class="gridstyle">
            <div class="griditem">
                <div class="frame">
                    <img src="static/img/foto10.jpg" alt="">
                </div>

            </div>

            <div class="griditem">
                <a href="{{ url_for('register_page') }}" class="nostyle2">
                    <button class="button">
                      <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                        <path
                          clip-rule="evenodd"
                          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                      <span>READY TO PLAY?</span>
                    </button>
                  </a>
            </div>

            <div class="griditem"> 
                <div class="frame">
                    <img src="static/img/foto9.jpg" alt="">
                </div>
        </div>


        </center>
    </body>
    <footer>
        <img src="static/img/footer.jpg" alt="">
        <p class="nostyle3">&copy; 2024</p>
    </footer>
</html>