<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    >
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>
    <header>
        <center>
            <div>
                <img src="static/img/logo.jpg" alt="CDOT LOGO">
            </div>
            <br>
            <div class="nav">
                <a href="{{ url_for('index') }}" class="nostyle">
                  <button class="value">HOME</button>
                </a>
                <a href="{{ url_for('info_page') }}" class="nostyle">
                    <button class="value">INFO</button>
                </a>
                <a href="{{ url_for('clothes_page') }}" class="nostyle">
                  <button class="value">KIT</button>
              </a>
              <a href="{{ url_for('register_page') }}" class="nostyle">
                <button class="value">REGISTER</button>
              </a>
              </div>
        </center>
    <br>
    </header>

    <body>
        <center>
        <div class="frame">
        </div>

        <div>
            <h1>THE ANNUAL C.DOT NETBALL TOURNAMENT 2024 IS AROUND THE CORNER!
            </h1>
            <h2>HERE IS WHAT YOU NEED TO KNOW</h2> 
        </div>

        <div class="grid-item">
            <p>
                25TH - 26TH OF OCTOBER 2024 (ENROLLMENT WILL DETERMINE WHETHER OR NOT THE 
                TOURNAMENT WILL TAKE PLACE OVER THE COURSE OF 1 OR 2 DAYS)
                <br><br>
                THE C.DOT NETBALL TOURNAMENT WILL BE TAKING PLACE AT LAERSKOOL FAIRLAND
                AND AT CLIFFVIEW PRIMARY SCHOOL (ENROLLMENT WILL TELL).
                <br><br>
                ANY TEAMS AND INDIVIDUALS ARE WELCOME TO JOIN IN THE FUN AND COMPETE IN THE TOURNAMENT.
            </p>
        </div>

        <div class="grid-item">
            <table>
                <caption>TOURNAMENT DETAILS</caption>                  
                <tbody>
                    <tr>
                        <td> 
                            <strong>Netball Division:</strong> 
                        </td>
                        <td>
                            Serious or Leisure play for all age groups<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Netball Rules:</strong> 
                        </td>
                        <td>
                            Specific rules for mixed enrollments (match duration, and age restrictions).<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Tournament Prizes:</strong> 
                        </td>
                        <td>
                            Rewards for best dressed off and on the court.<br>
                            Medals - placed Gold, Silver, Bronze.<br>
                            C.Dot medals - palced 4th and down.<br>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Entry Fee:</strong> 
                        </td>
                        <td>
                            R350 pp for Team enrollment (7 - 10 players) and Individual enrollment<br>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Entries:</strong> 
                        </td>
                        <td>
                            Submit your individual and team entry with payment by September 20th.<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Kit Orders:</strong> 
                        </td>
                        <td>
                            Custom team kits available. Order by September 20th.<br>
                            Or you can wear your own kit<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Banking Details for Enrollment</strong> 
                        </td>
                        <td>
                            C.DOT FNB<br>
                            62903599639<br>
                            WhatsApp POP to 082 851 0973
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Clothes Orders</strong> 
                        </td>
                        <td>
                            Mainline Sportswear<br>
                            Capitec Business<br>
                            1051253063
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Queries</strong> 
                        </td>
                        <td>
                            ENROLLMENT: Nicci - cdotnetball01@gmail.com<br>
                            KITS: Liza - sales@mainlinesportwear.co.za<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Stall Vendors</strong> 
                        </td>
                        <td>
                            Vendors to contact Celia on 082 851 0973 to book a stall 
                            for R1000 for the duration of the tournament. Tuckshop will 
                            be handled by C.Dot.
                        </td>
                    </tr>
                    <tr>
                        <!-- This cell spans across two columns -->
                        <td colspan="2">
                            Parking on School Premises (Limited space)  R30 a car<br>
                            Entree Fee at Gate: Spectators @R10 - kids under 13 free
                        </td>
                      </tr>

                      <tr>
                        <!-- This cell spans across two columns -->
                        <td colspan="2">
                            <strong>Foodcourt and other stalls available.</strong>
                            <br>
                            Each stall vendor will run their own Cash, Card machine.
                        </td>
                      </tr>
                </tbody>
            </table>

            <a href="{{ url_for('info_page') }}" class="nostyle2">
                <button class="button">
                  <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                    <path
                      clip-rule="evenodd"
                      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span>LEARN MORE</span>
                </button>
              </a>
        </div>

        <div>
            <h2>SEE YOU THERE</h2>
            <table>
                <tr>
                    <td>
                        <strong>Cliffview Primary <br>
                        <a href="https://www.cliffviewprimary.org.za/">More info</a>
                    </strong>
                    </td>
                    <td>
                        25th October 2024 (Depending on amount of enrollment) <br>
                        Program will start at 16:00 <br>

                        <div class="inline-container">
                            <div class="loader"><a href="https://www.google.com/maps/place/29+Norman+Dr,+Northcliff,+Randburg,+2115,+South+Africa/@-26.147734,27.94602,16z/data=!4m6!3m5!1s0x1e950ab8db6203a7:0x92d582e2134cea4f!8m2!3d-26.1477341!4d27.9460198!16s%2Fg%2F11jdwxml4y?hl=en-GB&entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank"> </div>
                            <div class="text">29 – 35 Norman Drive, Northcliff Ext.9</div>
                          </div>


                        
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Laerskool Fairland</strong> <br>
                        <a href="https://laerskoolfairland.co.za/">More info</a>
                    </td>
                    <td>
                        26th October 2024 <br>
                        Registration from 7:15, Opening at 08:00 Court 1 <br>
                        Games starts at 08:30 <br>

                        <div class="inline-container">
                            <div class="loader"><a href="https://www.google.com/maps/place/Laerskool+Fairland/@-26.1346998,27.9390944,17z/data=!3m1!4b1!4m6!3m5!1s0x1e950ab2da1acb1d:0xdb0fbf9ebcc4a27c!8m2!3d-26.1346998!4d27.9390944!16s%2Fg%2F1tfnjxn3?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank"> </div>
                            <div class="text">Marketstraat 145, Fairland, Randburg.</div>
                          </div>
                    </td>
                </tr>
            </table>
            <a href="{{ url_for('register_page') }}" class="nostyle2">
                <button class="button">
                  <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                    <path
                      clip-rule="evenodd"
                      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  <span>REGISTER TO PLAY</span>
                </button>
              </a>
        </div>
        </center>
        <br>
    </body>
    <footer>
        <img src="static/img/footer.jpg" alt="">
        <p class="nostyle2">&copy; 2024</p>
    </footer>
</html>