<!DOCTYPE>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/info.css">
</head>

<body>
    <header>
        <center>
            <div>
                <img src="static/img/logo.jpg" alt="CDOT LOGO">
            </div>
            <br>
            <div class="nav">
                <a href="{{ url_for('index') }}" class="nostyle">
                  <button class="value">HOME</button>
                </a>
                <a href="{{ url_for('register_page') }}" class="nostyle">
                  <button class="value">REGISTER</button>
                </a>
                <a href="{{ url_for('info_page') }}" class="nostyle">
                    <button class="value">INFO</button>
                </a>
              </div>
        </center>

    </header>

    <center>
    </center>

    <footer>
        <img src="static/img/footer.jpg" alt="">
        <p class="nostyle2">&copy; 2024</p>
    </footer>
        

