<!DOCTYPE >
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Info</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/info.css" />
  </head>

  <body>
    <header>
        <center>
            <div>
                <img src="static/img/logo.jpg" alt="CDOT LOGO">
            </div>
            <br>
            <div class="nav">
                <a href="{{ url_for('index') }}" class="nostyle">
                  <button class="value">HOME</button>
                </a>
                <a href="{{ url_for('register_page') }}" class="nostyle">
                  <button class="value">REGISTER</button>
                </a>
                <a href="{{ url_for('info_page') }}" class="nostyle">
                    <button class="value">INFO</button>
                </a>
                <a href="{{ url_for('clothes_page') }}" class="nostyle">
                  <button class="value">KIT</button>
              </a>
              </div>
        </center>
    <br>
    </header>

    <center>
      <br />
      <div class="slideshow-container">
        <div class="slides active">
          <h4>NETBALL RULES</h4>
          <div class="text">
            <ul>
              <li>Normal rules will apply.</li>
              <li>Allowed substituion at any time.</li>
              <li>May enter for 2 catergories (R350 pp additional).</li>
              <li>Sports gloves are allowed.</li>
              <li>Fitness watches are allowed.</li>
              <li>
                No necklaces, earrings or bracelets (unless for medical reasons)
                are allowed.
              </li>
            </ul>
          </div>
          <div class="image">
            <img src="static/img/divisions.jpg" alt="Image 1" />
          </div>
          <h4>MIXED NETBALL RULES</h4>
          <div class="text">
            <ul>
              <li>
                4 Females.
                <ul>
                  <li>1 WA</li>
                  <li>1 GA</li>
                  <li>1 GD</li>
                  <li>1 WD</li>
                </ul>
              </li>
              <li>
                3 Males.
                <ul>
                  <li>1 GS</li>
                  <li>1 GK</li>
                  <li>1 C</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="slides">
          <h4>NETBALL DIVISIONS</h4>
          <div class="text">
            <table>
              <tr>
                <th>Division</th>
                <th>Description</th>
              </tr>

              <tr>
                <td>U/6 - U/9</td>
                <td>Play for fun and learn the basics of netball.</td>
              </tr>

              <tr>
                <td>U/10 - U/16 FEMALES</td>
                <td>Play competitively and learn the rules of netball.</td>
              </tr>

              <tr>
                <td>U/10 - U/16 MIXED</td>
                <td>Play for fun</td>
              </tr>

              <tr>
                <td>Premier League FEMALES</td>
                <td>Play competitively within a league.</td>
              </tr>

              <tr>
                <td>Premier League MALE</td>
                <td>Play competitively within a league.</td>
              </tr>

              <tr>
                <td>Premier League MIXED</td>
                <td>Play competitively within a league (Mixed rules apply).</td>
              </tr>

              <tr>
                <td>Social FEMALE</td>
                <td>Players that play frequently.</td>
              </tr>

              <tr>
                <td>Social MALE</td>
                <td>Players that play frequently.</td>
              </tr>

              <tr>
                <td>Social MIXED</td>
                <td>Players that play frequently (Mixed rules apply).</td>
              </tr>

              <tr>
                <td>Social - Social FEMALE</td>
                <td>Players that do not play frequently.</td>
              </tr>

              <tr>
                <td>Social - Social MIXED</td>
                <td>
                  Players that do not play frequently (Mixed rules apply).
                </td>
              </tr>

              <tr>
                <td>Elderly</td>
                <td>Walking netball.</td>
              </tr>

              <tr>
                <td>Daughter & Mother</td>
                <td>
                  Play with your daughter or mother (Mixed rules apply).
                  <br />
                  Will play the Friday from 16:00
                </td>
              </tr>

              <tr>
                <td>Daughter & Father</td>
                <td>
                  Play with your daughter or father (Mixed rules apply).
                  <br />
                  Will play the Friday from 16:00
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="slides">
          <h4>TOURNAMENT PRIZE</h4>
          <div class="image">
            <img src="static/img/foto8.jpg" alt="Image 3" />
          </div>
          <div class="text">
            Bring your game in style. Great prizes to be won while having fun.
            <ul>
              <li>Best Dressed off the court - Supporter Vibe</li>
              <li>Best Dressed on the court - Own kit or order from C.dot</li>
            </ul>

            NB! If you do not order a kit from C.dot, you will be required to
            wear black and white.
          </div>
        </div>

        <!-- Navigation Arrows -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

      <br />

      <script src="static/js/info.js"></script>
    </center>
  </body>

  <footer>
    <img src="static/img/footer.jpg" alt="" />
    <p class="nostyle2">&copy; 2024</p>
  </footer>
</html>
