<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="static/css/kit.css" />
  </head>
  <body>
    <header>
      <center>
          <div>
              <img src="static/img/logo.jpg" alt="CDOT LOGO">
          </div>
          <br>
          <div class="nav">
              <a href="{{ url_for('index') }}" class="nostyle">
                <button class="value">HOME</button>
              </a>
              <a href="{{ url_for('info_page') }}" class="nostyle">
                  <button class="value">INFO</button>
              </a>
              <a href="{{ url_for('clothes_page') }}" class="nostyle">
                <button class="value">KIT</button>
            </a>
            <a href="{{ url_for('register_page') }}" class="nostyle">
              <button class="value">REGISTER</button>
            </a>
            </div>
      </center>
  <br>
  </header>

    <center>
      <div>
        <h1>A Quick Taste of The Clothing Range of 2024</h1>
        <table>
          <tr>
            <th>Netball</th>
            <th>Players</th>
            <th>Entry pp</th>
            <th>Dress</th>
            <th>Tank Top & Scort</th>
            <th>Tank Top & Short</th>
            <th>Socks</th>
            <th>Hot Pants</th>
            <th>Long Sleeve</th>
            <th>Man kit Vest & Short</th>
            <th>Bibs</th>
          </tr>

          <tr>
            <td>Team Enrollment</td>
            <td>Min 7 - Max 10</td>
            <td>R350</td>
            <td>Choose own colour and logo - R395</td>
            <td>Choose own colour and logo - R395</td>
            <td>Choose own colour and logo - R350</td>
            <td>White socks with any colour brand - R100</td>
            <td>Choose own colour and logo - R220</td>
            <td>Choose own colour and logo - R250</td>
            <td>Choose own colour and logo - R450</td>
            <td>Choose own colour and logo - R750</td>
          </tr>

          <tr>
            <td>Individual Enrollment</td>
            <td></td>
            <td>R350</td>
            <td>Order from C.Dot list - R395</td>
            <td>Order from C.Dot list - R395</td>
            <td>Order from C.Dot list - R350</td>
            <td>R100</td>
            <td>Order from C.Dot list - R220</td>
            <td>Order from C.Dot list - R250</td>
            <td>Choose own colour and logo - R450</td>
            <td></td>
          </tr>

          <tr >
            <td colspan="9">NB! Individual enrollment to wear black/white if do not order from C.Dot</td>
          </tr>
        </table>
      </div>
      <br>
      <div class="slideshow-container">

        <div class="slides">
          <h4>Dress</h4>
          <div class="inline">
            <img src="static/img/dress.jpg" alt="" />
            <img src="static/img/dress2.jpg" alt="" />
          </div>
          <br>
        </div>

        <div class="slides active">
          <h4>Tank Top</h4>
          <img src="static/img/vest.jpg" alt="" />
          <br>
        </div>

        <div class="slides">
          <h4>Shorts</h4>
          <div class="inline">
            <img src="static/img/shortFront.jpg" alt="" />
            <img src="static/img/shortBack.jpg" alt="" />
          </div>
          <br>
        </div>

        <div class="slides">
          <h4>Scort</h4>
          <div class="inline">
            <img src="static/img/scort.jpg" alt="" />
          </div>
          <br>
        </div>

        <div class="slides">
          <h4>Long Sleeve Warm-Up Top</h4>
          <div class="inline">
            <img src="static/img/pinkShirts.jpg" alt="" />
          </div>
          <br>
        </div>        

        <div class="slides">
          <h4>Hot Pants</h4>
          <div class="inline">
            <img src="static/img/hotpants.jpg" alt="" />
          </div>
          <br>
        </div>

        <div class="slides">
          <h4>Cap</h4>
          <div class="inline">
            <img src="static/img/cap.jpg" alt="" />
          </div>
          <br>
        </div>
        

        <div class="slides">
          <h4>Socks</h4>
          <div class="inline">
            <img src="static/img/socks.jpg" alt="" />
          </div>
          <br>
        </div>

        <div class="slides">
          <h4>Bibs</h4>
          <div class="inline">
            <img src="static/img/bibs4.jpg" alt="" />
          </div>
          <br>
        </div>

        <div class="slides">
          <h4>Mens vest</h4>
          <div class="inline">
            <img src="static/img/top.jpg" alt="" />
          </div>
          <br>
        </div>

        <div class="slides">
          <h4>Men pants</h4>
          <div class="inline">
            <img src="static/img/pants.jpg" alt="" />
          </div>
          <br>
        </div>

         <!-- Navigation Arrows -->
         <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
         <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      

      <p>Sportswear includes Dress, Tank Top, scort, short, socks, warm-up top, vest, hat</p>
      <p>Able to create a Custom Logo for your team and you can choose any colour material</p>
      <div class="text">
        <h4>INTERESTED?</h4>
        Contact Liza at sales@mainlinesportwear.co.za
    </div>
    <br>

      <div class="frame2">
    </div>
      <p>Available Kit and Bib Colours:</p>
      <table>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: white;"></div>
            <span class="color-name">White</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: black;"></div>
            <span class="color-name">Black</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: grey;"></div>
            <span class="color-name">Grey</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: #36454F;"></div>
            <span class="color-name">Charcoal</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #B5A642;"></div>
            <span class="color-name">Stone</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #654321;"></div>
            <span class="color-name">Dark Brown</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: #FFFF33;"></div>
            <span class="color-name">Neon Yellow</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: yellow;"></div>
            <span class="color-name">Yellow</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #FFD700;"></div>
            <span class="color-name">Gold Yellow</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: #00FF00;"></div>
            <span class="color-name">Lime</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #50C878;"></div>
            <span class="color-name">Emerald</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #006400;"></div>
            <span class="color-name">Bottle</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: #013220;"></div>
            <span class="color-name">Dark Green</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #004225;"></div>
            <span class="color-name">Very Dark Green</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #87CEEB;"></div>
            <span class="color-name">Sky Blue</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: #4169E1;"></div>
            <span class="color-name">Royal</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #000080;"></div>
            <span class="color-name">Navy</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #D8BFD8;"></div>
            <span class="color-name">Light Purple</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: #800080;"></div>
            <span class="color-name">Purple</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #F4C2C2;"></div>
            <span class="color-name">Baby Pink</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #FFC0CB;"></div>
            <span class="color-name">Pink</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: #DE3163;"></div>
            <span class="color-name">Cerise Pink</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #FFE5B4;"></div>
            <span class="color-name">Peach</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #FF5F1F;"></div>
            <span class="color-name">Neon Orange</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="color-swatch" style="background-color: orange;"></div>
            <span class="color-name">Orange</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: red;"></div>
            <span class="color-name">Red</span>
          </td>
          <td>
            <div class="color-swatch" style="background-color: #800000;"></div>
            <span class="color-name">Burgundy/Maroon</span>
          </td>
        </tr>
      </table>

</center>
<script src="static/js/info.js"></script>
  </body>
  <footer>
    <img src="static/img/footer.jpg" alt="" />
    <p class="nostyle2">&copy; 2024</p>
  </footer>
</html>
