<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">
  </head>

  <body>
    <header>
      <center>
          <div>
              <img src="static/img/logo.jpg" alt="CDOT LOGO">
          </div>
          <br>
          <div class="nav">
              <a href="{{ url_for('index') }}" class="nostyle">
                <button class="value">HOME</button>
              </a>
              <a href="{{ url_for('info_page') }}" class="nostyle">
                  <button class="value">INFO</button>
              </a>
              <a href="{{ url_for('clothes_page') }}" class="nostyle">
                <button class="value">KIT</button>
            </a>
            <a href="{{ url_for('register_page') }}" class="nostyle">
              <button class="value">REGISTER</button>
            </a>
            </div>
      </center>
  <br>
  </header>

    <center>
  
      <br>
      <div>
        <img src="static/img/foto1.jpg" alt="Image 1" />
        
        <div class="text-content">
          <h1>Register to Play</h1>
      <h2>C.Dot End Year Fun!</h2>
      <h2>Team enrollment & Individual enrollment</h2>
      <p>
        We are excited to see you at the big day!
        From C.Dot we really appreciate your participation.
        With your enrollment, the club can provide new equipment for the kids.
        <br />
        <br />
        If any of you would like to to help us with sponsers, the C.Dot family would appreciate it.
        <br />

        <ul style="list-style-type: none;">
          <li>- Donations prizes, hampers, platters for umpires, water, ice, lolllies, etc to give away on the day.</li>
          <li>- Sponser a child in a development team @ R350 to join in the tournament.</li>
        </ul>

        <br />Event Date: 25 - 26th October 2024 (Enrollment will determine whether or not the tournament will take place over the course of 1 or 2 days)
        
        <br />Games at Laerskool Fairlands and Cliffview Primary School.
      </p>
        </div>
        
        <img src="static/img/foto2.jpg" alt="Image 2" />
      </div>

      <br>
      <h3>Registration is closed</h3>
      <h4> Please contact Celia on 082 851 0973 for more information or queries</h4>
      <br>
      
    </center>

    <div
      id="notification"
      style="display: none; color: green; font-weight: bold"
    >
      Registration successful! Thank you for registering.
    </div>

    <script src="static/js/registration.js"></script>
  </body>

  <footer>
    <img src="static/img/footer.jpg" alt="" />
    <p class="nostyle2">&copy; 2024</p>
  </footer>
</html>
