<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Registration</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/registration.css" />
  </head>

  <body>
    <header>
      <center>
          <div>
              <img src="static/img/logo.jpg" alt="CDOT LOGO">
          </div>
          <br>
          <div class="nav">
              <a href="{{ url_for('index') }}" class="nostyle">
                <button class="value">HOME</button>
              </a>
              <a href="{{ url_for('register_page') }}" class="nostyle">
                <button class="value">REGISTER</button>
              </a>
              <a href="{{ url_for('info_page') }}" class="nostyle">
                  <button class="value">INFO</button>
              </a>
              <a href="{{ url_for('clothes_page') }}" class="nostyle">
                <button class="value">KIT</button>
            </a>
            </div>
      </center>
  <br>
  </header>

    <center>
      <div>
        <h1>Entry Options - ALL AGES</h1>
        <table>
          <tr>
            <th>Netball</th>
            <th>Players</th>
            <th>Entry pp</th>
            <th>Dress</th>
            <th>Tank Top & Short</th>
            <th>Socks</th>
            <th>Hot Pants</th>
            <th>Long Sleeve</th>
            <th>Bibs</th>
          </tr>

          <tr>
            <td>Team Enrollment</td>
            <td>Min 7 - Max 10</td>
            <td>R350</td>
            <td>Choose own colour and logo - R395</td>
            <td>Choose own colour and logo - R395</td>
            <td>White socks with any colour brand - R100</td>
            <td>Choose own colour and logo - R220</td>
            <td>Choose own colour and logo - R250</td>
            <td>Choose own colour and logo - R750</td>
          </tr>

          <tr>
            <td>Individual Enrollment</td>
            <td></td>
            <td>R350</td>
            <td>Order from C.Dot list - R395</td>
            <td>Order from C.Dot list - R395</td>
            <td>R100</td>
            <td>Order from C.Dot list - R220</td>
            <td>Order from C.Dot list - R250</td>
            <td></td>
          </tr>

          <tr >
            <td colspan="9">NB! Individual enrollment to wear black/white if do not order from C.Dot</td>
          </tr>
        </table>
      </div>

      <br>
      <div class="content-wrapper">
        <img src="static/img/foto1.jpg" alt="Image 1" />
        
        <div class="text-content">
          <h1>Register to Play</h1>
      <h2>C.Dot End Year Fun!</h2>
      <h2>Team enrollment & Individual enrollment</h2>
      <p>
        We are excited to see you at the big day!
        From C.Dot we really appreciate your participation.
        With your enrollment, the club can provide new equipment and facilities for the kids.
        <br />
        <br />
        If any of you would like to to help us with sponsers, the C.Dot family would appreciate it.
        <br />

        <ul style="list-style-type: none;">
          <li>- Donations prizes to give away on th day, hampers, platters for umpires, water, ice, lolllies, etc.</li>
          <li>- Sponser a child in a development team @ R350 to join in the tournament.</li>
        </ul>

        <br />Event Date: 25 - 26th October 2024 (Enrollment will determine whether or not the tournament will take place over the course of 1 or 2 days)
        
        <br />Games at Laerskool Fairlands and Cliffview Primary School.
      </p>
        </div>
        
        <img src="static/img/foto2.jpg" alt="Image 2" />
      </div>


      <h3>Enter a Team or Individual Enrollment</h3>
      <form id="registrationForm" class="form">
        <label>
          <select id="registrationType" required class="input">
            <option value="" disabled selected></option>
            <option value="individual">Individual</option>
            <option value="team">Team</option>
          </select>
          <span>Select Registration Type</span>
        </label>

        <!-- This will be toggled based on the registration type -->
        <label id="individualNameLabel" style="display: none">
          <input placeholder="" type="text" id="individualName" class="input" />
          <span>Individual Name</span>
        </label>

        <label id="teamNameLabel" style="display: none">
          <input placeholder="" type="text" id="teamName" class="input" />
          <span>Team Name</span>
        </label>

        
        

        <div id="flex"class="flex">
          <label>
            <input
              required=""
              placeholder=""
              type="text"
              id="firstname"
              class="input"
            />
            <span>Name of Player</span>
          </label>

          <label>
            <input
              required=""
              placeholder=""
              type="text"
              id="lastname"
              class="input"
            />
            <span>Surname of Player</span>
          </label>
        </div>

        <div id="teamPlayersSection" style="display: none;">
          <h4>Rest of Team Players</h4>
          <div id="teamPlayersContainer">
            <label><input placeholder="Player 1 Name" type="text" class="input team-player" /></label>
          </div>
          <br>
          <div class="sameline">
            <button class="submit" type="button" id="addPlayerBtn">+</button>
            <button  class="submit" type="button" id="removePlayerBtn" style="display:none;">-</button>
          </div>
         
        </div>

        <label>
            <select id="division" required class="input">
              <option value="" disabled selected></option>
              <option value="U/6-U/9">U/6 - U/9</option>
              <option value="U/10-U/16 FEMALES">U/10-U/16 FEMALES"</option>
              <option value="U/10-U/16 MIXED">U/10-U/16 MIXED</option>
              <option value="Premier League FEMALE">Premier League FEMALE</option>
              <option value="Premier League MALE">Premier League MALE</option>
              <option value="Premier League MIXED">Premier League MIXED</option>
              <option value="Social FEMALE">Social FEMALE</option>
              <option value="Social MALE">Social MALE</option>
              <option value="Social MIXED">Social MIXED</option>
              <option value="Social-Social FEMALE">Social-Social FEMALE</option>
              <option value="Social-Social MIXED">Social-Social MIXED</option>
              <option value="Elderly">Elderly</option>
              <option value="Daughter & Mother">Daughter & Mother</option>
              <option value="Daughter & Father">Daughter & Father</option>
            </select>
            <span>Select Division</span>
          </label>

        <!-- Radio buttons for age selection -->
        <label>
            <input
                required=""
                type="radio"
                id="isChildYes"
                name="isChild"
                value="yes"
            />
            <span>Under 18</span>
            <input
                required=""
                type="radio"
                id="isChildNo"
                name="isChild"
                value="no"
            />
            <span>Over 18</span>
        </label>

        <!-- Parent information label -->
        <div id="parent-info-label">
            <h3>Parent/Guardian Contact Information</h3>
        </div>

        <label>
          <input
            required=""
            placeholder=""
            type="tel"
            id="contact1"
            class="input"
          />
          <span id="contact1Label">Contact</span>
        </label>

        <label>
          <input
            required=""
            placeholder=""
            type="tel"
            id="contact2"
            class="input"
          />
          <span id="contactLabel2">Alternative Contact</span>
        </label>

        <label>
          <input
            required=""
            placeholder=""
            type="email"
            id="email"
            class="input"
          />
          <span id="emailLabel">Email</span>
        </label>

        <label>I would like to sponsor in the form of:</label><br>
        <label><input type="checkbox" name="donations" value="amount"> Donation Amount</label><br>
        <label><input type="checkbox" name="donations" value="equipment"> Equipment</label><br>
        <label><input type="checkbox" name="donations" value="prizes"> Prizes</label><br>
        <label><input type="checkbox" name="donations" value="hampers"> Hampers</label><br>
        <label><input type="checkbox" name="donations" value="water"> Water</label><br>
        <label><input type="checkbox" name="donations" value="goodybags"> Goody Bags</label><br>
        <label><input type="checkbox" name="donations" value="childsponser"> Sponsor a child in team development @ R350</label><br>
        <label><input type="checkbox" name="donations" value="bibs"> Bibs</label><br>
        

        <button type="submit" class="submit">Submit</button>
        <p class="signin">This information will be stored in our database</p>
      </form>
    </center>

    <div
      id="notification"
      style="display: none; color: green; font-weight: bold"
    >
      Registration successful! Thank you for registering.
    </div>

    <script src="static/js/registration.js"></script>
  </body>

  <footer>
    <img src="static/img/footer.jpg" alt="" />
    <p class="nostyle2">&copy; 2024</p>
  </footer>
</html>
